RewriteEngine On

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)$ $1.php [L]



# Route /api/v1/users/ANYTHING/send to send-message.php?user_id=ANYTHING
RewriteRule ^api/v1/users/([^/]+)/send$ send-message.php?user_id=$1 [QSA,L]
